# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
*.log

# Environment
.env
.env.local
.env.*
!.env.example

# Prisma
prisma/*.db-journal
prisma/*.backup

# OS
.DS_Store
Thumbs.db

# Build & local data
dist/
*.db
data/

dist-electron/
release-electron/
*.exe
*.asar

*.tsbuildinfo
